{% load i18n %}
{% load currency_filters %}
<div class="table-header">
    <h3>
        {% trans "Attachment:" %}
        {# TODO: Add for this buttons a small margin: 0 2.5px, if is possible using the btn class #}
        {% if ticket.attachments.all|length %}
            <button type="button" class="btn btn-default pull-right" data-toggle="collapse"
                    data-target="#attachments">{% trans "Show/Hide" %} {# TODO:  attachments.number #}</button>
        {% endif %}
        <button type="button" class="btn btn-primary pull-right">{% trans "Add" %}</button>
    </h3>
</div>
{% if ticket.attachments.all|length %}
    {% for attachment in ticket.attachments.all %}
        <div id="attachments" class="collapse in">
            <table class="table table-bordered table-striped">
                <tr>
                    <th>{% trans "File" %}</th>
                </tr>
                <tr>
                    <td><a href="{{ attachment.file.url }}">{{ attachment.file.name }}</a></td>
                </tr>
            </table>
        </div>
    {% endfor %}
{% endif %}
