{% extends "customer/baseaccountpage.html" %}
{% load i18n %}

{% block extra_breadcrumbs %}
<li>
    <a href="{% url 'support:customer-ticket-list' %}">{% trans 'Support' %}</a>
</li>
{% endblock %}

{% block tabcontent %}
<form id="create-ticket-form" action="." method="post" class="form">
    {% csrf_token %}

    {% include "partials/form_fields.html" %}

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">{% trans "Create ticket" %}</button>
        {% trans "or" %}
        <a href="{% url 'support:customer-ticket-list' %}">{% trans "cancel" %}</a>
    </div>
</form>
{% endblock tabcontent %}
